
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: pink;
}
/* 导航条 */
.topnav {
    overflow: hidden;
    background-color: #333;
}
.timerLabel{
    margin:100px 0px;
    color:white;
}

.title{
    font-family: 'Berkshire Swash' cursive;
}
/* 导航条链接 */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
   
  /* 链接颜色修改 */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.people{
    text-align: center;
}



.clock {
    text-align: center;
}

h1{
    color: red;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* 底部 */
.footer {
    text-align: center;
    background: #ddd;
    display: block;
}
