
* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial;
    padding: 10px;
    background: pink;
    height: 500px;
}
body, #wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* 导航条 */
.topnav {
    overflow: hidden;
    background-color: #333;
}
.timerLabel{
    margin:100px 0px;
    color:white;
}

.title{
    font-family: 'Berkshire Swash' cursive;
}
/* 导航条链接 */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
   
  /* 链接颜色修改 */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* 入力欄 */
.people input{
    border: 2px solid SALMON;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    background-color: snow;  /* 背景色 */
    width: 10em;             /* 横幅いっぱいにする */
    box-sizing: border-box;  /* ※これがないと横にはみ出る */
    height: 45px;           /* 高さ */
    font-size: 1em;          /* 文字サイズ */
}

h1{
    color: red;
}

.myButton {
  display: inline-block;
  width:100px;
  height:45px;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(212, 64, 133);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.myButton:hover {background-color: #88275f}

.myButton:active {
  background-color: #88275f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* 底部 */
.footer {
    text-align: center;
    background: #ddd;
    display: block;
    margin-top: auto;

}
